* {
   -colour-done: royalblue;
   -colour-remaining: lightcoral;
   -colour-about-link: #0095C9;
}
.buttonSaveIcon {
    -glyph-name: SAVE;
}
.buttonOpenIcon {
    -glyph-name: FOLDER_OPEN;
}
.buttonNewIcon {
    -glyph-name: OPEN_IN_NEW;
}
.buttonCalculateIcon {
    -glyph-name: PLAY_CIRCLE_OUTLINE;
}
.buttonAddIcon {
    -glyph-name: ADD_CIRCLE_OUTLINE;
}
.buttonRemoveIcon {
    -glyph-name: REMOVE_CIRCLE_OUTLINE;
}
.buttonSaveIcon, .buttonOpenIcon, .buttonNewIcon, .buttonCalculateIcon, .buttonAddIcon, .buttonRemoveIcon {
    -glyph-size: 24;
}
.title {
    -fx-font-size: 90;
    -fx-font-family: sans-serif;
    -fx-font-style: italic;
    -fx-stroke: black;
    -fx-stroke-width: 1;
}
.about BorderPane {
    -fx-padding: 10 20 10 10;
    -fx-border-insets: 10 10 10 10;
    -fx-border-color: lightgrey;
    -fx-border-style: dashed;
}
.about Label, .about Hyperlink {
    -fx-font-size: 20;
    -fx-padding: 7 0 7 0;
}
.websiteIcon {
    -glyph-name: HOME;
}
.twitterIcon {
    -glyph-name: TWITTER;
}
.websiteIcon, .twitterIcon {
    -fx-fill: -colour-about-link;
    -glyph-size: 30;
}
.noSession .new {
    -fx-padding: 10 0 10 5;
}
.noSession .open {
    -fx-padding: 10 0 0 5;
}
.main {
    -fx-padding: 20 20 20 20;
}
.main .area {
    -fx-padding: 10;
    -fx-border-color: lightgrey;
    -fx-border-width: 1;
    /*-fx-spacing: 10;*/
}
.main .paddingTop {
    -fx-padding: 10 0 0 0;
}
.main .paddingBottom {
    -fx-padding: 0 0 10 0;
}
.main .buttonAdd, .main .buttonRemove {
    -fx-padding: 4.3 8.7 4.3 8.7;
}
.main .buttonsHBox {
    -fx-spacing: 4;
}
