* {
   -colour-done: royalblue;
   -colour-remaining: lightcoral;
   -colour-about-link: #0095C9;
   -colour-background-header: #000;
   -colour-text-header: #fff;
}
.masker {
    -fx-background-color: black;
    -fx-opacity: 0.3;
}
.miniGraph {
  -fx-control-inner-background: -colour-remaining;
  -fx-accent: -colour-done;
}
.miniGraph .bar {
    -fx-background-insets: 0;
}
.miniGraph .track {
    -fx-background-insets: 0;
}
.buttonSaveIcon {
    -glyph-name: SAVE;
}
.buttonOpenIcon {
    -glyph-name: FOLDER_OPEN;
}
.buttonNewIcon {
    -glyph-name: OPEN_IN_NEW;
}
.buttonCalculateIcon {
    -glyph-name: PLAY_CIRCLE_OUTLINE;
}
.buttonAddIcon {
    -glyph-name: ADD_CIRCLE_OUTLINE;
}
.buttonRemoveIcon {
    -glyph-name: REMOVE_CIRCLE_OUTLINE;
}
.buttonReturnIcon {
    -glyph-name: BACKSPACE;
}
.buttonSaveIcon, .buttonOpenIcon, .buttonNewIcon, .buttonCalculateIcon, .buttonAddIcon, .buttonRemoveIcon, .buttonReturnIcon {
    -glyph-size: 24;
}
.title {
    -fx-font-size: 90;
    -fx-font-family: sans-serif;
    -fx-font-style: italic;
    -fx-stroke: black;
    -fx-stroke-width: 1;
}
.about BorderPane {
    -fx-padding: 10 20 10 10;
    -fx-border-insets: 10 10 10 10;
    -fx-border-color: lightgrey;
    -fx-border-style: dashed;
}
.about Label, .about Hyperlink {
    -fx-font-size: 20;
    -fx-padding: 7 0 7 0;
}
.websiteIcon {
    -glyph-name: HOME;
}
.twitterIcon {
    -glyph-name: TWITTER;
}
.websiteIcon, .twitterIcon {
    -fx-fill: -colour-about-link;
    -glyph-size: 30;
}
.noSession .new {
    -fx-padding: 10 0 10 5;
}
.noSession .open {
    -fx-padding: 10 0 0 5;
}
.main, .result {
    -fx-padding: 20 20 20 20;
}
.area {
    -fx-padding: 10;
    -fx-border-color: lightgrey;
    -fx-border-width: 1;
}
.paddingTop {
    -fx-padding: 10 0 0 0;
}
.paddingBottom {
    -fx-padding: 0 0 10 0;
}
.main .buttonAdd, .main .buttonRemove {
    -fx-padding: 4.3 8.7 4.3 8.7;
}
.main .buttonsHBox {
    -fx-spacing: 4;
}
.columnHeaderText {
    -fx-font-weight: normal;
    -fx-font-size: 12;
}
.cellText {
    -fx-font-weight: normal;
    -fx-font-size: 12;
    -fx-translate-y: 2;
}
.columnHeaderTextUpper, .cellTextUpper {
    -fx-font-weight: normal;
    -fx-font-size: smaller;
    -fx-translate-y: -2;
}
/* table */
.placeholderLabel {
    -fx-text-fill: #aeaeae;
}
.table-view .column-header .label {
  -fx-text-alignment: center;
}
.table-view {
  -fx-background-color: transparent,-fx-box-border,-fx-control-inner-background;
  -fx-background-insets: -1.4, 0, 1;
  -fx-background-radius: 1.4, 0, 0;
  -fx-padding: 1;
}
.table-view:focused {
  -fx-background-color: transparent,-fx-box-border,-fx-control-inner-background;
  -fx-background-insets: -1.4, 0, 1;
  -fx-background-radius: 1.4, 0, 0;
  -fx-padding: 1;
}
.table-row-cell:filled:selected {
  -fx-background: -fx-control-inner-background;
  -fx-background-color: -fx-table-cell-border-color, -fx-background;
  -fx-background-insets: 0, 0 0 1 0 ;
  -fx-table-cell-border-color: derive(-fx-color, 5%);
}
.table-row-cell:odd:filled:selected {
  -fx-background: -fx-control-inner-background-alt;
}
.table-column {
  -fx-alignment: center;
}
/* modal */
.layer, .spt, .result {
    -fx-padding: 20 20 20 20;
}
.formLayer {
    -fx-padding: 20 20 20 20;
    -fx-border-color: lightgrey;
    -fx-border-width: 1;
}
.buttonBar {
    -fx-padding: 20 0 0 0;
}
.radioLiquefaction {
    -fx-padding: 0 20 0 0;
}
/* */
.chart-marker-line {
    -fx-stroke: blue;
    -fx-stroke-width: 0.8;
    -fx-stroke-dash-array: 2 5;
}
.chart-marker-label {
    -fx-text-fill: blue;
    -fx-font-size: 0.7em;
    -fx-text-alignment: center;
    -fx-translate-y: 2;
}
.onHover{
    -fx-background-color: black;
}
.resultTitleLabel {
    -fx-font-size: 1.2em;
}
.result .chart-title {
    -fx-font-size: 0.9em;
    -fx-padding: 0 10 0 0;
}
